@charset "ISO-8859-1";

body
{
	background-image: url(../images/4.png);
	background-size: 100% auto;
	font-family:arial;
}


*{
	margin:0px;
	padding:0px;
}
.wraper
{
	padding: 30px 10px;
	border-radius: 10px;
	width:300px;
	height:500px;
	background-image: linear-gradient(125deg, rgba(135, 219, 225, 0.885), rgba(208, 169, 73, 0.898));
	color:rgb(5, 41, 46);
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-45%);
	box-sizing:border-box;
}

h1
{
	margin: 0px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 26px;

}

.loginbox ,p
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-align: initial;
}


.loginbox ,input
{
	width: 100%;
	margin-bottom: 12px;
}

.loginbox , input[type="text"] , input[list] , input[type="number"] , input[type="password"] 
{
	border:none;
	border-radius:5px;
	background: white;
	width: 100%;
	height: 30px;
	text-align: center;

}


.loginbox , input[type="submit"]
{
	border:none;
	border-radius:15px;
	background:crimson;
	color: white;
	font-size: 15px;
	font-weight: bold;
	width: 57%;
	height: 40px;
	position: absolute;
}

.loginbox , input[type="submit"]:hover
{
	cursor: pointer;
	background:gold;
	color:crimson;

}